.moviecontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    /*overflow-y: auto;*/
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}

.moviecontainer div {
    display: flex;
    flex-direction: column;
    width: 100px; 
    box-sizing: border-box;
    padding: 5px;
    height: 280px; 
    background-image: cover;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.main div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    width: 165px;
    height: 300px;
    border-radius: 10px;
}

img {
    width : 150px;
    height : 225px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h4 {
    color: white;
    font-size: 14px;
    line-height: 1;
    height: 22px; /* 제목의 최대 높이를 고정하여 개봉일과 겹치지 않게 설정 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 말줄임표로 표시 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

span {
    color: white;
    font-size: 11px !important;
    text-align: left;
    height: 25px;
    width: 100%;
    margin-left: 10px;
}